/* Estilos de la cabecera */

header {
    background-color: var(--main-light);
    height: auto;
    display: flex;
    font-weight: 500;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 1);

}

header .slim-flex-left {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header .slim-flex-left .slim-menu-item:hover p {
    text-decoration: underline;
    color: #344CB7;
}

header .slim-flex-left .slim-menu-item:hover span {
    transform: rotate(90deg);
    color: #344CB7;
}

header .slim-flex-right .slim-menu-item.slim-grid-2row {
    width: max-content;
}

.slim-flex-left .slim-menu-item:not(:first-child) {
    margin-left: 20px;
}

header .slim-flex-right {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

header .slim-flex-right .slim-row-menu-items {
    justify-content: right;
    align-items: center;
}

.slim-home-icon {
    height: 100%;
    cursor: pointer;
}

header .vertical-bar {
    width: 1px;
    background-color: #0C090BB8;
    margin-left: 20px;
    border-radius: 1px;
    margin-top: 16px;
    margin-bottom: 25px;
    box-shadow: 2px 1px 12px 1px #0000004f;
}

header .section-title {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header .section-title h1 {
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

header .section-info {
    display: flex;
}

.slim-icon {
    height: 100%;
    padding: 10px;
}

.slim-icon img {
    height: 100%;
}

.slim-flags {
    background-image: url('../../../public/resources/svg/es.svg');
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgb(240 240 240 / 0.2);
    overflow: hidden;
}

.slim-menu-item.menu span {
    font-variation-settings: 'FILL' 0;
    font-size: 3em;
    margin-right: 5px;
    cursor: pointer;
}

button.hamburger {
    padding: 5px 15px 0px;
    z-index: 1000;
}

.slim-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: grid;
    grid-template-rows: 12vh 3fr 1fr;
}
  
.slim-side-menu.active {
    transform: translateX(0);
    box-shadow: -4px 0 20px rgba(0, 0, 0, 1);
}

.onoff-toggle-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%);
    mask-mode: match-source;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.onoff-toggle-column {
    padding-top: 20px;
    padding-left: 20px;
}

.onoff-toggle-row {
    padding: 10px 0;
}

.onoff-section-display {
    transition: transform 0.6s ease;
    box-shadow: rgba(0, 0, 0, 0.2) -4px 0px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: scroll;
}
  
.onoff-section-display::-webkit-scrollbar {
    display: none;
}

.onoff-section-display div:first-child {
    border-top-left-radius: 20px;
}

.onoff-section-display div:last-child {
    border-bottom-left-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-top: unset;
    border-bottom: unset;
}

.onoff-section-display div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.onoff-section-display div:nth-child(even) {
    border-top: unset;
    border-bottom: unset;
}

.onoff-section-display .black-bg a {
    color: var(--main-light);
}

.onoff-section-display > div.active {
    opacity: 1;
    pointer-events: auto;
  }

.onoff-section-display a {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: large;
}

.onoff-section-display .black-bg a:hover {
    color: var(--main-purple);
}

.onoff-section-display .yellow-bg a:hover {
    color: var(--main-purple);
}

.onoff-section-display a:hover {
    color: #ffffff;
}


.onoff-section-display div a:last-child {
    margin-bottom: 20px;
}

.onoff-section-display h2 {
    margin-bottom: 20px;
    margin-top: 15px;
    text-shadow: unset;
}

.slim-search-bar {
    margin: 20px 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: 85% 15%;
}

.slim-sb-input {
    width: 100%;
}

.slim-sb-input input {
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 8px 18px;
    outline: none;
}

.slim-sb-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slim-sb-icon span {
    color: var(--main-dark);
    font-size: 30px;
    font-variation-settings: "FILL" 1;
}

@media screen and (max-width: 450px){
    header .slim-menu-item:first-child {
        display: none;
    }
}

@media screen and (max-width: 500px){
    .slim-side-menu {
        width: 100%;
    }
}

@media screen and (max-width: 760px){
    header .section-info {
        display: none;
    }
}