/* Estilos de la cabecera */

header {
    background-color: var(--slim-main-lighter);
    height: 12vh;
    display: flex;
    font-weight: 500;
}

header .slim-flex-left {
    display: flex;
    flex-direction: row;
}

header .slim-flex-left .slim-menu-item:hover p {
    text-decoration: underline;
    color: #344CB7;
}

header .slim-flex-left .slim-menu-item:hover span {
    transform: rotate(90deg);
    color: #344CB7;
}

.slim-flex-left .slim-menu-item:not(:first-child) {
    margin-left: 20px;
}

header .slim-flex-right {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header .slim-flex-right .slim-row-menu-items {
    justify-content: right;
}

.slim-home-icon {
    height: 100%;
}

.slim-icon {
    height: 100%;
    padding: 10px;
}

.slim-icon img {
    height: 100%;
}

.slim-flags {
    background-image: url('../../../public/resources/svg/es.svg');
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgb(240 240 240 / 0.2);
    overflow: hidden;
}

.slim-menu-item.menu span {
    font-variation-settings: 'FILL' 0;
    font-size: 3em;
    margin-right: 5px;
    cursor: pointer;
}

button.hamburger {
    padding: 5px 15px 0px;
    z-index: 1000;
}

.slim-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}
  
.slim-side-menu.active {
    transform: translateX(0);
    box-shadow: -4px 0 20px rgba(0, 0, 0, 1);
}

.onoff-toggle-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, #000000 95%, transparent 100%);
}

.onoff-toggle-column {
    padding-top: 20px;
    padding-left: 20px;
}

.onoff-toggle-row {
    padding: 5px 0;
}

.onoff-section-display {
    transition: transform 0.3s ease;
}

.onoff-section-display div:first-child {
    border-top-left-radius: 20px;
}

.onoff-section-display div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
}

.onoff-section-display .black-bg a {
    color: var(--main-light);
}

.onoff-section-display > div.active {
    opacity: 1;
    pointer-events: auto;
  }

.onoff-section-display a {
    font-weight: 600;
    margin-top: 5px;
    font-size: large;
}

.onoff-section-display a:hover {
    color: #ffffff;
}
