@import url('chillax.css');

:root {
    --main-dark: #0C090B;
    --main-light: #FFFFFF;
    --main-purple: #A34699;
    --main-purple-trans: #A3469999;
    --main-orange: #F77F3F;
    --main-orange-trans: #F77F3F99;
    --main-blue: #82C8ED;
    --main-blue-trans: #82C8ED99;
    --main-yellow: #E1FA1F;
    --main-yellow-trans: #E1FA1F99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Chillax-Regular';
}

h2 {
    font-size: 2em;
}

p, a, small, input, label {
    font-family: "Kumbh Sans", sans-serif;  
    color: var(--main-dark);
    transition: transform 0.5s ease, color 0.5s ease;
}

button {
    border: none;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    width: 100%;  
    height: 100%;
    font-size: 16px;
    padding: 8px 12px;
}

input::placeholder,
textarea::placeholder {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 14px;
    color: gray;
}

.onoff-button-dark {
    background: none;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.onoff-button-dark:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
}

.onoff-button-light {
    background-color: var(--main-dark);
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 12px 0px #939393;
    transition: all 0.3s ease;
}

.onoff-button-light:hover {
    background-color: var(--main-purple);
}

.purple-bg {
    background-color: var(--main-purple);
}

.orange-bg {
    background-color: var(--main-orange);
}

.blue-bg {
    background-color: var(--main-blue);
}

.yellow-bg {
    background-color: var(--main-yellow);
}

.black-bg {
    background-color: var(--main-dark);
    color: var(--main-light);
}

a:hover {
    color: var(--main-purple);
}

a.inactive {
    text-decoration: none;
    transition: transform 0.5s ease;
}

a.inactive:hover {
    transform: scale(1.2);
}

a.active {
    pointer-events: none;
}

.slim-row-menu-items {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.slim-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
}

.slim-menu-item > p {
    margin-right: 5px;
    transition: text-decoration 0.5s ease, color 0.5s ease;
}

.slim-menu-item > span {
    font-size: 20px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.slim-menu-item > .round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--slim-gray);
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    background-repeat: no-repeat;
    background-position: center center;
}

.slim-grid-2row {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.slim-grid-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slim-small-font {
    font-weight: 300;
    font-size: smaller;
}

.slim-lang-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    padding-right: 5px;
}

.slim-main {
    height: auto;
}

.slim-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.slim-flex-col-center p {
    width: 80%;
}

.onoff-section-grid {
    margin: 3% 5%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.onoff-section-col {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.onoff-section-col:first-child {
    border-top-left-radius: 10px;

}

.onoff-section-col:last-child {
    border-bottom-right-radius: 10px;
}

.slim-form {
    display: grid;
    gap: 15px;
    grid-template-rows: auto auto auto;
    place-items: center;
    margin: 10px 0;
}

.slim-form .slim-grid-2col {
    width: 100%;
    gap: 20px;
}

.slim-form-item {
    padding: 5px 0;
}

.slim-form input[type]:not([type="checkbox"]) {
  margin-top: 5px;
}

.slim-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    flex-shrink: 0;          
    min-width: 20px;         
    min-height: 20px;
    box-sizing: border-box;
}

.slim-checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: left;
}

.slim-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

/* BOTTOM BAR */

.sticky-bottom-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    transform: translateY(78%);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.sticky-bottom-wrapper::after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: black;
    z-index: -1; 
}
  
.sticky-bottom-wrapper.visible {
    transform: translateY(0);
}

.sticky-bottom-bar {
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) -4px 4px 15px;
}

.bar-content {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.bar-content a {
    color: white;
    text-decoration: underline;
}

.bar-content span {
    font-variation-settings: FILL '1';
    font-size: 35px;
}

.sticky-bottom-content {
    background-color: black;
    color: white;
    border-top: 0.5px solid #ffffff;
    height: 100%;
}

.sticky-bottom-content p {
    color: var(--main-light);
}

.support-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.support-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
}

.support-block:first-child {
    border-right: 0.5px solid white;
}

.support-info h2 {
    margin-bottom: 10px;
}

.support-info p {
    font-size: 1.2em;
    font-weight: 300;
} 

.support-action {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.support-action small {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
}

.slim-section {
    height: 100vh;
}

/* TABLET */

@media screen and (max-width: 1000px){

    .support-block:first-child {
        border-right: none;
        border-bottom: 0.5px solid white;
    }

    .sticky-bottom-wrapper {
        transform: translateY(86%);
    }

    .support-inner {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 750px){
    .slim-form .slim-grid-2col {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        gap: 0;
    }

    .onoff-modal::-webkit-scrollbar {
        display: none;
    }

    .slim-checkbox {
        align-items: flex-start;
    }

    .slim-checkbox input[type="checkbox"] {
        margin-top: 5px;
    }
}

/* MOVIL */
@media screen and (max-width: 500px){

    .sticky-bottom-wrapper {
        transform: translateY(90%);
    }

    .support-info {
        text-align: center;
    }

    .support-info h2 {
        margin-bottom: 10px;
    }
    
    .support-info p {
        font-size: inherit;
    } 

    .support-action button {
        font-size: inherit;
    }

    .support-block:first-child {
        border-right: none;
    }

    .support-block {
        padding: 15px;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }

    .support-action {
        align-items: center;
    }
}